



button {
    color: purple;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.border-important {
    border: 5px solid red;
    background-color: aqua;
    font-weight: bold;
}


.recipePicture {
    width: 500px;
    height: 500px;
    ;
    
}